{%extends 'base.html'%}
{% block content %}
<div class="landing">
    <div class="banner-header">
        <img src="../static/images/landing.jpeg" id="acc-banner-img">
        <div class="header-container">
            <h3><b>Thankyou for using Quality Appraisal and leaving a review
                
                You can always come back again
                
                </b></h3>
            <br>
            <br>
            <h5><b><a href="/accounts/login/" style="color: white !important;">Log in again</a></b></h5>
            <br>
            
        </div>
    </div>
    
</div>

{%endblock%}


