@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    /* text-align: center; */
}

/* <<<<<<<<<<<<<<<<<<<< Navbar >>>>>>>>>>>>>>>>>>>> */

.navbar{
    background-image: linear-gradient(to right,  #cb9f82, rgba(154, 57, 2, 0.65));
    position: fixed;
    width: 100%;
    
    z-index: 100;
    padding-bottom: 0px;
    border-bottom: 3px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0!important;
}

.navbar-brand,
.nav-item{
    margin-bottom: 0px;
    padding: 7px;
    color: #ffffff;
}

.navbar-nav li a{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.material-icons{
    color: #ffffff;
    font-size: 40px;
}

.head:hover{
    color: #ffffff;
}

/* <<<<<<<<<<<<<<<<<<<< Landing-page >>>>>>>>>>>>>>>>>>>> */
.container-fluid{
    width: 100%;
    margin: 0px;
    padding: 0;
    /* object-fit: cover; */
}

.container{
    max-width: 1000px;
    text-align: left;
    padding-top: 40px;
}


.landing{
    padding-top: 0% !important;
}
.banner-header{
    width: 100%;
  
    margin-top: 0px;
    padding-top: 0;
    position: relative;

}

#acc-banner-img{
    width: inherit;
    margin-left: 0;
    margin-top:0px;
    margin-left:0px;
    margin-right: 0px;
    filter: brightness(50%);
    
    height: 90vh;
    padding-top: 0px;
    
}

#acc-banner-img-signup{
    width: inherit;
    margin-left: 0;
    margin-top:0px;
    margin-left:0px;
    margin-right: 0px;
    filter: brightness(50%);
    
    /* height: 90vh; */
    padding-top: 0px;
    
}


.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
    min-width: 300px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.mission{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.mission-text{
    box-sizing: border-box;
    width: 45%;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 30px;
}

.mission-img{
    box-sizing: border-box;
    width: 44%;
    margin: 0px;
    display: inline-block;
    padding: 40px;
    padding-top: 20px;
    vertical-align: top;
}

#acc-mission-img{
    width: 100%;
    height: auto;
    vertical-align: top;
    box-shadow: 20px 20px rgba(154, 57, 2, 0.65);
}
@media screen and (max-width: 1000px) {
    .mission-text,
    .mission-img{
        width: 100%;
        text-align: center;
        padding: 40px;
    }
    #acc-mission-img{
        max-width: 400px;
    }
}

footer{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #cb9f82,  rgba(154, 57, 2, 0.65));
    border-top: 3px solid #ffffff;
    padding-top: 40px;
    text-align: center;
    bottom: 0;
    
    padding-top: 10px;
    
    position: absolute;
    
}

.footer-text{
    color: #ffffff;
}

/* <<<<<<<<<<<<<<< Registration >>>>>>>>>>>>>>>>>>>> */


.registration{
   width: 100%;
   overflow: hidden;
  
}

#logimg{
    width: 100%;
    margin-left: 0;
    margin-top:0px;
    margin-left:0px;
    margin-right: 0px;
    filter: brightness(50%);
    overflow-x: hidden;
    /* height: 90vh; */
    padding-top: 0px;
}
.panel{
    
    font-family: 'Montserrat', sans-serif;
}

.col-md-5{
    position: relative;
    /* top: 60%; */
    /* margin-top: -30%; */
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-md-6{
    position: relative;
    /* top: 60%; */
    margin-top: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    /* width: 600px;
    min-width: 300px;   */
}
@media screen and (max-width: 1000px) {
    .col-md-6{
        position: relative;
        margin-top: 40%;
    }
    .panel{
        width: 100%;
        font-size: 1rem;
    }
}

.form-squeeze{
    max-width: 700px;
    margin: auto;
    padding: 20px 60px;
}


.emptyStars,
.fullStars,
.halfStars{
    position: absolute;
    padding: 10px;
    padding-left: 55px;
    width: 390px;
    height: auto;
    text-align: left;
}

#emptyStar1,
#emptyStar2,
#emptyStar3,
#emptyStar4,
#emptyStar5{
    color: #ebe8e6;
    font-size: 45px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#halfStar1,
#halfStar2,
#halfStar3,
#halfStar4,
#halfStar5{
    font-size: 45px;
    color: #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#fullStar1,
#fullStar2,
#fullStar3,
#fullStar4,
#fullStar5{
    font-size: 45px;
    color: #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.emptyStarsSmall,
.fullStarsSmall,
.halfStarsSmall{
    position: absolute;
    width: 190px;
    height: auto;
    margin-top: 0px;
    text-align: left;
}

#emptyStarSmall1,
#emptyStarSmall2,
#emptyStarSmall3,
#emptyStarSmall4,
#emptyStarSmall5{
    color: #faf9f9;
    font-size: 30px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#halfStarSmall1,
#halfStarSmall2,
#halfStarSmall3,
#halfStarSmall4,
#halfStarSmall5{
    font-size: 30px;
    color:  #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#fullStarSmall1,
#fullStarSmall2,
#fullStarSmall3,
#fullStarSmall4,
#fullStarSmall5{
    font-size: 30px;
    color:  #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.emptyStarsMini,
.fullStarsMini,
.halfStarsMini{
    position: absolute;
    width: 160px;
    height: auto;
    text-align: left;
    padding-left: 15px;
}

#emptyStarMini1,
#emptyStarMini2,
#emptyStarMini3,
#emptyStarMini4,
#emptyStarMini5{
    color:  #f5f0ec;
    font-size: 20px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#halfStarMini1,
#halfStarMini2,
#halfStarMini3,
#halfStarMini4,
#halfStarMini5{
    font-size: 20px;
    color:  #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#fullStarMini1,
#fullStarMini2,
#fullStarMini3,
#fullStarMini4,
#fullStarMini5{
    font-size: 20px;
    color:  #b37747;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.disappear{
    display: none;

}


.reviews-title{
    text-align: center;
    padding-top: 40px;
}

.recent-reviews{
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.review-box{
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 200px;
    height: 170px;
    box-shadow: 3px 3px 8px #888888;
    margin: 19px;
    padding: 20px;
    cursor: pointer;
}

.review-box:hover{
    background-color: #e6e6e6;
    transition: 0.5s;
    text-decoration: none;
}

.review-title{
    text-align: left;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 14px;
}

.review-author{
    text-align: left;
    margin-top: 0px;
    font-size: 14px;
    color: #4d4d4d;
}