{% extends 'base.html' %}
{% load bootstrap3 %} {% load static %}

{% block page_title %}Add A New Company{% endblock %}
{% block content %}
    <div class="container">
        <div class="form-squeeze">
            <form action="{%url 'createcompany'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Add A New Company</legend>
                    {% bootstrap_form create%}
                </fieldset>
                <div class="wrapper">
                    <button class="btn" id="submit" type="submit">Add Accelerator</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}