{% extends 'companies/base.html' %}

{% block content %}
    <div class="container">
    {% if companies %}
        {% for company in companies %}
            <a href="{% url 'companydetails' company.pk %}">
                <div class="acc-container"> 
                    <h4><b>{{ company.name }}</b></h4>
                    <div class="emptyStarsHome">
                        <i class="fa fa-star" id="emptyStarSmall1"></i>                        
                        <i class="fa fa-star" id="emptyStarSmall2"></i>
                        <i class="fa fa-star" id="emptyStarSmall3"></i>
                        <i class="fa fa-star" id="emptyStarSmall4"></i>
                        <i class="fa fa-star" id="emptyStarSmall5"></i>
                    </div>
                    <div class="halfStarsHome">
                        <i class="fas fa-star-half" {% if accelerator.avg_rating < 0.25 %} style="display:none;" {% endif %} id="halfStarSmall1"></i>
                        <i class="fas fa-star-half" {% if accelerator.avg_rating < 1.25 %} style="display:none;" {% endif %} id="halfStarSmall2"></i>
                        <i class="fas fa-star-half" {% if accelerator.avg_rating < 2.25 %} style="display:none;" {% endif %} id="halfStarSmall3"></i>
                        <i class="fas fa-star-half" {% if accelerator.avg_rating < 3.25 %} style="display:none;" {% endif %} id="halfStarSmall4"></i>
                        <i class="fas fa-star-half" {% if accelerator.avg_rating < 4.25 %} style="display:none;" {% endif %} id="halfStarSmall5"></i>
                    </div>
                    <div class="fullStarsHome">
                        <i class="fa fa-star" {% if accelerator.avg_rating < 0.75 %} style="display:none;" {% endif %} id="fullStarSmall1"></i>                            
                        <i class="fa fa-star" {% if accelerator.avg_rating < 1.75 %} style="display:none;" {% endif %} id="fullStarSmall2"></i>
                        <i class="fa fa-star" {% if accelerator.avg_rating < 2.75 %} style="display:none;" {% endif %} id="fullStarSmall3"></i>
                        <i class="fa fa-star" {% if accelerator.avg_rating < 3.75 %} style="display:none;" {% endif %} id="fullStarSmall4"></i>
                        <i class="fa fa-star" {% if accelerator.avg_rating < 4.75 %} style="display:none;" {% endif %} id="fullStarSmall5"></i>
                    </div>
                    <br>
                    <br>
                    <img class="acc-logo-list" src="{{ company.logo.url }}">
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="empty-page">
            <p>Sorry. There are currently no companies listed on this site.</p>
        </div>
    {% endif %}
    </div>
{% endblock %}